.wrapper
  .side-bar
    .header
      %h3.header__name
        = current_user.username
      %ul.header__lists
        %li.list
          %a{href: "/groups/new"}
            %i.fas.fa-edit.icon
        %li.list
          %a{href: "/users/#{current_user.id}/edit"}
            %i.fa.fa-cog.icon
    .groups
      .group
        %a{href: "/groups/28242/messages"}
          .group__name
            group-name
          .group__message
            group-message
  .chat
    .header
      .left-header
        .left-header__title
          group-name
        %ul.left-header__members
          Member：
          %li.member
            aqua
          %li.member
            omk
      .right-header
        %a.right-header__button{href: "/"} Edit
    .messages.js-messages
      - @messages.each do |message|
        .message
          .upper-message
            .upper-message__user-name= current_user.username
            .upper-message__date= message.created_at
          .lower-message
            %p.lower-message__content= message.text
            .lower-message__image
              %img{alt: "image", src: "#{message.image.thumb.url}"}/
    .form
      = form_tag("/messages",method: :post, class: "js-form", id: "new_message", multipart: true) do
        %input#message_content.form__message{name: "text", placeholder: "Type a message"}/
        .form__mask
          %label.form__mask__image
            %i.fas.fa-image
            %input#message_image.hidden{name: "image", type: "file"}/
        %input.form__submit{type: "submit", value: "send"}/
