<div class="wrapper">
  <div class="side-bar">
    <div class="header">
      <h3 class="header__name">
      aqua
      </h3>

           <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        <% end %>
      <ul class="header__lists">
        <li class="list">
          <a href="/groups/new"><i class="fas fa-edit"></i></a>
        </li>
        <li class="list">
          <a href="/users/12002/edit"><i class="fa fa-cog icon"></i></a>
        </li>
      </ul>
    </div>

    <div class="groups">
      <div class="group">
        <a href="/groups/28242/messages">
          <div class="group__name">
            group-name
          </div>
          <div class="group__message">
            group-message
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="chat">
    <div class="header">
      <div class="left-header">
        <div class="left-header__title">
        group-name
        </div>
          <ul class="left-header__members">
          Member：
            <li class="member">
            aqua
            </li>
            <li class="member">
            omk
            </li>
          </ul>
        </div>
      <div class="right-header">
        <a class="right-header__button" href="/groups/28242/edit">Edit</a>
      </div>
    </div>

  <div class="messages js-messages">
    <% @messages.each do |message| %>
      <div class="message">
        <div class="upper-message">
          <div class="upper-message__user-name"><%= message.name %></div>
          <div class="upper-message__date"><%= message.created_at %></div>
        </div>
        <div class="lower-message">
          <p class="lower-message__content"><%= message.text %></p>
          <div class="lower-message__image"><img src="<%= message.image %>" alt="image"></div>
        </div>
      </div>
    <% end %>
  </div>

    <div class="form">
      <%= form_tag("/messages",method: :post, class: "js-form", id: "new_message", multipart: true) do %>
        <input class="form__message" name="text" placeholder="Type a message" id="message_content">
        <div class="form__mask">
          <label class="form__mask__image">
            <i class="fas fa-image"></i>
            <input class="hidden" type="file" name="image" id="message_image">
          </label>
        </div>
        <input type="submit" value="send" class="form__submit">
      <% end %>
    </div>
  </div>
</div>
